 

<form method="get" action="/movie/search">
    <label>Movie Name</label><br>
    <input type = "text" name = "movie_title">
    <br>
    <input type = "submit" value = "Submit">
</form>

<h1>MOVIES</h1>
<ul>
<% movies.forEach(function(movie){ %>
    <li><%= movie.title %></li>

<% }) %>
</ul>

