<h1>MOVIES</h1>
<ul>
<% movies.forEach(function(movie){ %>
    <li><%= movie.title %></li>

<% }) %>
</ul>

<h1>PERSON</h1>
<ul>
<% person.forEach(function(person){ %>
    <li><%= person.name %></li>

<% }) %>
</ul>