<!DOCTYPE html>
<html lang="br">
<title>Natural Search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"></script>

  <!--Chama a tabela-->
      <script>
      $(document).ready(function() {
        $('#example').DataTable( {
            scrollY:        '50vh',
            scrollCollapse: true,
            "autoWidth": true,
            //width from columns
            "columnDefs": [
                { "width": "30%", "targets": 0 },
                { "width": "30%", "targets": 1 },
                { "width": "10%", "targets": 2 },
                { "width": "10%", "targets": 3 }
            ], "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"}
        } );  
        
    });
      </script>
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.cs	s">
  <!--Font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<style>

  #inputGroup-sizing-lg {
    width: 70%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid #7B68EE; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
    border-radius: 10px;
    background-color: #fff;
    
  }

    .bg-search {
      background-image: url('../static/images/graph.jpg');
      color: #000;
     /* Full height */

     padding: 35px;
     
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Montserrat, sans-serif;
  }


  body, html{
    height: 100%;
    width: 100%;
  }

  
  /* animation nav-bar mouse*/
.navbar li a, .navbar .navbar-brand {
  color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #0EADBD !important;
  border-radius: 15px;
}

.table{
        background-color: #fff;
        color: #000;
        
        /* Full height */
        padding: 10px;
        border: 2px solid #7B68EE; /* Add a grey border */
        margin-bottom: 5px; /* Add some space below the input */
        border-radius: 10px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: HelveticaNeue, sans-serif ;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.img{
  width: 100%;
  height: 200px;
  background-image: url('http://thecodeplayer.com/u/m/b1.png');
  background-size: auto;
}

</style>

    <!-- Navbar (sit on top) -->
<nav class="navbar w3-white w3-wide w3-padding navbar-fixed-top navbar-expand-md">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home">
            <i class="fa fa-bars" style="font-size:35px;color:#0EADBD"></i>
          </button>
          <a href="http://68.183.107.229:3000/#home" class="navbar-brand"><font color="#0EADBD"><b>NS</b></font> NaturalSearch</a>
        </div>

        <!-- Float links to the right. Hide them on small screens -->
        <div class="collapse navbar-collapse" id="home">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#search" class="fas fa-search w3-bar-item w3-button">Pesquisar</a></li>
            <li><a href="http://68.183.107.229:3000/#statistics" class="fa fa-bar-chart w3-bar-item w3-button">Estatisticas</a></li>
            <li><a href="http://68.183.107.229:3000/#howtouse" class="fas fa-laptop-code w3-bar-item w3-button">Como usar NS</a></li>
            <li><a href="http://68.183.107.229:3000/#howitworks" class="fas fa-project-diagram w3-bar-item w3-button">Como funciona o grafo</a></li>
            <li><a href="http://68.183.107.229:3000/#whoarewe" class="fas fa-users w3-bar-item w3-button">Quem somos</a></li>
           </ul>
        </div>
      </nav>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" background-image="../static/images/graph.jpg">

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">


    <!-- SEARCH Section -->
    <div class="w3-row-padding w3-grayscale"></div>
    
    <div class="w3-container background-image=../static/images/graph.jpg  w3-padding-32 id=statistics">
        <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16"></h3>
    
        <!-- TABLE vusialization Section -->
        <p>
            <div id="search" class="bg-search text-topleft w3-padding-16 ">
              <div class="w3-display-down w3-margin-top">
                <h1 class="w3-xlarge w3-text-white"><span class="w3-padding w3-aqua w3-opacity-min"><b>NS</b></span>
                  <span class="w3-hide-small w3-text-white"><b>Resultados</b></span>
                  </h1>
                  </div>

                <div class="bg-search text-center ">
                    <form method="get" action="result" onsubmit="return valida_form(this)">
                        <label for="q"></label>
                        <br>
                    <br>
                        <input id="inputGroup-sizing-lg" name='q' type="text" size="60" style="height: 43px;" placeholder="Digite aqui..">
                        <button class="fas fa-search btn btn-info btn-lg w3-cyan" type="submit" value="result" onclick="search_form(q)">PESQUISAR
                        </button>
                    </form>
                    <script type="text/javascript" language="javascript">
                        function valida_form (){
                            if(document.getElementById("inputGroup-sizing-lg").value == ""){
                                alert('Por favor, preencha o campo de pesquisa!');
                                document.getElementById("inputGroup-sizing-lg").focus();
                            return false
                            }
                        }
                    </script>   
                </div>

              <br>
                <br>
        
            <div class = "table text-center ">
              <table id="example" class="stripe" style="width:100%">
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Proponente</th>
                        <th>Área</th>
                      <th data-orderable="false">Visualizar</th>
                    </tr>
                </thead>
                <script type="text/javascript">
                    function reply_click(clicked_value) {
                        
                        
                            var url = "relacionamento/" + clicked_value;
                            document.location = url;
                        
                    }
                </script>
                <tbody>
                        <% list_result.forEach(function(project) { %>
                            <tr>
                                <td><%= project.nome %></td>
                                <td><%= project.proponente %></td>
                                <td><%= project.segmento %></td>
                            <td><button class="fas fa-search-plus btn btn-info btn-lg" type="submit" value="<%= project.proponente %>"
                                    onclick=reply_click(this.value)> </td>
                            <% }); %>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </p>
      </div>
  
<!-- end of Page content -->
    </div>

    <!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
<h4><p>Projeto disponivel no <a href="https://github.com/fga-eps-mds/2018.2-NaturalSearch" title="GitHub" target="_blank" class="w3-hover-text-cyan">GitHub</a></p>
<p> 2018 - Equipe Natural Search</p>
</h4>
</footer>
      
</body>

</html>