#inputGroup-sizing-lg {
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid #7B68EE; /* Add a grey border */
    margin-bottom: 2px; /* Add some space below the input */
    border-radius: 10px;
    background-color: #fff;
    
  }
  .check-box{
    color: #fff;
    font-size: 20px;
  }
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
     margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  /*background de search*/ 
  .bg-search {
      background-image: url('static/img/graph.jpg');
      background-repeat: no-repeat;
      
      color: #000;
      padding: 200px 150px;
      font-family: Montserrat, sans-serif;
  }
  /* radio buttuns */
  .check-box input[type=radio], .check-box input[type=checkbox]{
      display:none; /* Esconde os inputs */
  }
 
  .check-box label {
      cursor: pointer;
  }
  .check-box input[type="radio"] + label:before, .check-box input[type="checkbox"] + label:before {
      border: 1px solid #5D5C5C;
      background-color: #FFF;
      content: "\00a0";
      display: inline-block;
      font: 16px/1em sans-serif;
      height: 20px;
      margin: 0 .25em 0 0;
      padding:0;
      vertical-align: top;
      width: 20px;
      border-radius:4px;
  }
  
  .check-box input[type="radio"]:checked + label:before, .check-box input[type="checkbox"]:checked + label:before {
      background:#3CB371;
      color: #FFF;
      content: "\2714";
      text-align: center ;
  }
  
  .check-box input[type=radio]:checked + label:after, .check-box input[type="checkbox"]:checked + label:after {
      font-weight: bold;
  }
  .container-fluid-1 {
    background-color:#e1eaea; 
    padding: 60px 50px;   
  }
  .container-fluid-2{
    background-color:#d1e0e0; 
    padding: 60px 50px;   
  }
  .container-fluid-3{
    background-color:#fff; 
    padding: 60px 50px;   
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  /*nav-design*/ 
  .navbar {
      margin-bottom: 10;
      background:url('http://thecodeplayer.com/u/m/b1.png');
      background-color: #000;
      z-index: 9999;
      border: 100px;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 4px;
      text-transform: uppercase;
  }
  /* animation nav-bar mouse*/
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: black !important;
      background-color: #fff !important;
      border-radius: 15px;
    }
/*JS*/
  .slideanim {visibility:hidden;}
